body {
  background: #eee;
  font-family: sans-serif;
  border: 8px solid #eee;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  border: 8px solid #ffffff;

}

.title {
  background: #e3f4ff;
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 16px;
  padding: 8px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 8px auto;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
}


.button-container {
  text-align: center;
  background: #e3f4ff;
  border-top: 8px solid #ffffff;
  margin-top: 8px auto;
  margin-bottom: 0px;
  padding: 8px;
}

button {
  display: block;
  margin: 0 auto;
  background: white;
  border: 1px solid #eee;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
}